# http://conda.pydata.org/docs/install/quick.html#windows-miniconda-install
# pip install -U -r requirements.txt

bumpversion
pytest
pytest-cov
pytest-watch
pytest-testmon
pytest-capturelog
pytest-cache
colorama
Fabric3
invoke
twine
httpie
pur

numpy
Pillow
psycopg2

six
cached-property
docopt-dispatch
requests-futures
stringcase
Unidecode
voluptuous

celery
nltk
Flask

arrow
beautifulsoup4
html5lib
lxml

dataset
