# pip install -U -r requirements.txt

bumpversion
pytest
pytest-cov
pytest-watch
colorama
Fabric3
invoke
twine
httpie

numpy
Pillow
psycopg2

six
cached-property
docopt-dispatch
requests-futures
stringcase
Unidecode
voluptuous

celery
nltk
Flask

arrow
beautifulsoup4
html5lib
lxml

dataset
